# Eclipse
.settings/
.classpath
.project

# Build output
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Gradle
.gradle/

# Other
.idea/
*.iml
*.class
*.log
*.ctxt

# Package Files - These should not be in version control
# Instead, dependencies should be managed by a build tool like Maven or Gradle
# For this project, we are including the lib folder explicitly.
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*
replay_pid*

# Keep the libraries in the lib folder
!/src/main/webapp/WEB-INF/lib/*.jar