<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <!-- 웹 애플리케이션의 표시 이름 -->
  <display-name>Cleen_Bakara</display-name>
  
  <!-- 
    웹 애플리케이션 시작 시 보여줄 기본 파일 목록입니다.
    사용자가 URL에 파일명을 지정하지 않고, 예를 들어 http://localhost:8080/Cleen_1115/ 와 같이
    프로젝트 루트로만 접속했을 때, WAS(Tomcat)는 이 목록의 위에서부터 순서대로 파일을 찾습니다.
    가장 먼저 발견되는 파일을 사용자에게 보여줍니다.
    여기서는 index.html이 가장 위에 있으므로, index.html이 메인 페이지가 됩니다.
   -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
</web-app>
